[tool.poetry]
name = "lunespy"
version = "1.31.1"
description = "Library for communication with nodes in mainnet or testnet of the lunes-blockchain network"
authors = [
    "Lunes Platform <lucas.oliveira@lunes.io>"
]
license = "Apache-2.0"
readme = "README.md"
documentation = "https://github.com/lunes-platform/lunespy/blob/main/docs/TUTORIAL.md" 
keywords = [
    "cryptocurrency",
    "lunes",
    "blockchain"
]

[tool.poetry.dependencies]
python-axolotl-curve25519 = "^0.4.1.post2"
requests = "^2.26.0"
base58 = "^2.1.0"
python = "^3.8"

[tool.poetry.dev-dependencies]
pytest = "^6.2.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.scripts]
log = "lunespy.utils:generate_log"
